.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: rgb(228, 227, 227);
}

.takenErr {
  padding-top: 7px;
  font-size: 15px;
  color: darkred;
}